<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="sectionGeneric">
  <form class="" action="index.html" method="post">
    <input type="text" name="" value="" placeholder="First Name">
    <input type="text" name="" value="" placeholder="Last Name">
  <button type="button" name="button">submit</button>
  </form>
</div>
